/* Global */
*{
  box-sizing: border-box;
} 

body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgb(0, 0, 0);
  color: blue;
}

p{
  font-size: 1.5rem;
}

/** Header **/

header{
  margin-top: 10rem;
}

#batman-logo{
  background-color: #2699FB;
}

.start-button {
  width: 400px;
  border: 1px white solid;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
}

.start-button::hover {
  background-color: #2699FB;
}

.batman-text{
  font-weight: bold;
  color: #2699FB;
}

/* Modal Content */

.modal-content{
  color: green;
  font-weight: bold;
}

.modal-btn{
  background-color: #2699FB;
}

.answerKey{
  font-weight: bold;
  color: #2699FB;
}

.correct-answer{
  color: #2699FB;
}

/* Main */

main{
  display: none;
  margin-top: 20rem;
}

.card{
  border-radius: 10px;
}

label{
  font-size: 2rem;
}

/* Results */

.results{
  display:none;
  margin-top: 10rem;
}

th{
  color: #2699FB;
}